{% extends 'base.html.twig' %}

{% block title %}New Empleado{% endblock %}

{% block body %}

    <style>
        .crear{
            background-color: #343a40;
            color: rgba(255,255,255,.5);
            height: 50px;
            width: 200px;
        }
    </style>
    <br><center><h1>Crear nuevo Empleado</h1></center><br>

    <center>{{ include('empleado/_form.html.twig') }}</center><br>

    <center><a href="{{ path('empleado_index') }}"><button class="crear">Volver a la lista</button></a></center>
{% endblock %}
